body {
    background-color: var(--black-dark);
    color: var(--white-green);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
    padding: 0;
    overflow-y: scroll; /*para que el nav no cambie de posicion cuando hay el scroll vertical */

    margin: 0;
  }

  main {
    min-height: 100vh;
    padding-bottom: 60px;
  }