:root {
    --primary-green: #1e9c20;
    --green: #0fc512;
    --dark-green: #165828;
    --light-orange: #9d5701;
    --orange: #ff8c00;
    --black: #212529;
    --white-green: #bbffba;
    --black-dark: #1a1a1a;
    --gray: #b7b7b7;
    --error: #dc3545;
  }
  